
body{
  font-size: 24px;
}


/* Coral  */
.coralOptionContainer{
  display: flex;
  flex-direction:  column;
}

.coralButton{
  margin: 4px 10px 4px 10px;
  box-shadow: 6px 3px 6px gray;
}

.coralImg{
  height:  60px;
}


#species-container{
  display:  flex;
  flex-direction: column;
  width: 100%;
}


#species-wrapper{
  width: 100%;
  display: flex;
  flex-direction:  row;
  justify-content:  space-evenly;
}

label {
  margin-top: 4%;
  text-align: center;
}

/* Color  */
#color-container{
  display:  flex;
  flex-direction:  column;
}

#color-grid{
  display:  grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns:  repeat(4, 1fr);
  column-gap:  1rem;
  row-gap:  1rem;
}

.color{
  display:block;
  padding: 32px 32px;
  border-radius: 100%;

  vertical-align: top;
  margin: 4px 10px 4px 10px;
  box-shadow: 6px 3px 6px gray;
}

.color:active {
  margin: 6px 10px 2px 10px;
  box-shadow:  0 0 0 white;
}

.selected{
  box-shadow: 0 0 0 white;
  margin: 6px 10px 2px 10px;
}

/* NAME */
#name-container{
  display: flex;
  flex-direction:  column;
}

#nameInput{
  margin-top: 4%;
  font-size: large;
}

/* COLORS */

.RED{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(315deg);
}
.ORANGE{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(0deg);
}
.YELLOW{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(15deg);
}
.GREEN{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(90deg);
}
.CYAN{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(135deg);

}
.BLUE{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(180deg);

}
.PURPLE{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(215deg);
}
.PINK{
  filter: invert(0%) sepia(10%) saturate(6177%) hue-rotate(235deg);
}


/* CORAL Box */


.invisible{
  visibility: hidden !important;
}


/* Coral Response  */

.box {
  width: 300px;
  margin: 50px auto;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}


.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}




